body{

        background: #17284c;
        font-family: sans-serif;
}
.title{
    text-align: center;
    color: #eeeeeeee;
    font-weight: normal;
}
.calculator{
    width: 330px;
    background: #c3d1ec;
    margin: 100px auto;
    padding: 10px 15px 40px 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px #E1E1E1;
}
.num{
    background: #5849dd;
    width: 300px;
    margin: 5px;
    border: none;
    font-size: 15px;
    border-radius: 50px;
    padding: 10px;
}
.opt{
    width: 300px;
    margin: 5px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
}
.button{
    background: #ec5055;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: #eee;
    font-size: 13px;
    border-bottom: 4px solid #BF203D;
}

